/* Main Layout */
.main-layout {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr minmax(auto, 350px) 1fr;
}
.main-layout > .full {
  grid-column: 1/-1;
}
.main-layout > *:not(.full) {
  grid-column: 2;
}

/* card-layout */
.gallery {
  display: none;
}
.gallery.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 4em;
}
.about {
  display: none;
}
.card-layout {
  display: grid;

  grid-template-areas:
    "i"
    "h"
    "p"
    "b";
}

.active {
  display: flex;
}
