/* Main Layout */
.main-layout {
  display: grid;
  margin: 0;
  grid-template-columns:
    20px
    1fr
    20px;
}
.main-layout > .full {
  grid-column: 1/-1;
}
.main-layout > *:not(.full) {
  grid-column: 2;
}
/* CANVAS */
canvas {
  position: relative;
}

/* card-layout */
.gallery {
  display: none;
}
.gallery.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 4em;
}
.card-layout {
  display: grid;

  grid-template-areas:
    "i"
    "h"
    "p"
    "b";
}

.active {
  display: flex;
}
