.gallery .gallery-container {
  display: grid;
  gap: 20px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  margin-block-start: 1em;
  width: 100vw;
}

.gallery .gallery-container .img-card {
  box-shadow: 0px 0px 10px 2px var(--clr5);
  transition: after 0.4s, transform 0.4s;
}
.gallery-container .img-card img {
  height: 100%;
  width: 100%;
}
.gallery-container .img-card:hover {
  /* border: 10px var(--cl) solid; */
  box-shadow: 0px 0px 10px 2px var(--clr5);
  transform: translate(1%, -1%);
  cursor: pointer;
}
.gallery-container .img-card:hover::after {
  content: "edit→";
  font-size: 1em;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr1);
}
.gallery .flexible-btn {
  width: fit-content;
  font-family: montserrat;
  font-size: 1.1em;
  border-radius: 40px;
  padding: 1em;
  cursor: pointer;
  background-color: var(--clr2);
  transition: background-color 0.4s;
}
.gallery .flexible-btn:hover {
  background-color: var(--clr3);
}
.gallery-toolbox > * {
  height: fit-content;
}
.gallery-toolbox {
  align-items: flex-end;
  gap: 10px;
}
.gallery-toolbox .keywords-search {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  transition: flex-wrap 0.4s;
  width: 360px;
}
.gallery-toolbox .keywords-search > * {
  display: flex;
  height: fit-content;
  padding: 0;
  margin-inline-end: 15px;
}
.keywords-search-container {
  display: flex;
  font-size: 2em;
}
.gallery-toolbox .keywords-search.expand {
  flex-wrap: wrap;
  overflow: visible;
  width: 360px;
}
