.edit {
  display: none;
  padding: 20px;
  gap: 10px;
  border: 1px solid var(--clr4);
}
.canvas-container {
  display: flex;
  justify-content: center;
}
canvas {
  align-self: center;
}
.line-toolbox {
  display: flex;
}
.text-design-toolbox {
  display: flex;
}
.color-input {
  visibility: collapse;
  height: 0px;
  width: 0px;
}
.color-label {
  height: 10px;
}
.edit.active {
  display: grid;
  grid-template-columns: repeat(20px 1fr 20px);
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-block-start: 40px;
  padding: 40px;
  background-color: var(--clr0);
  box-shadow: 0 0 9px 8px var(--clr-1);
}
.edit .text-toolbox {
  border: 1px solid var(--clr5);
  padding: 10px;
}
.edit > * {
  align-content: center;
}
.text-toolbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-toolbox > * {
  margin-block-start: 0.5em;
}
.text-toolbox .line-toolbox > * {
  font-family: font-awesome;
}
.text-toolbox .text-box {
  width: 100%;
  height: 40px;
}
.text-toolbox input[type="button"] {
  background-color: transparent;
  border: none;
  font-family: poiret;
  font-size: 1.5em;
}
.text-toolbox-form > *[type="color"] {
  background-color: none;
}
.text-toolbox-form > *[type="button"]:hover {
  cursor: pointer;
}
.text-toolbox-form .text-size-up {
  grid-area: p;
}
.text-toolbox-form .text-size-down {
  grid-area: m;
}
.text-toolbox-form .text-box {
  grid-area: t;
}
.text-toolbox-form .text-color {
  grid-area: c;
}
.sticker {
  height: 40px;
  cursor: pointer;
}
.stickers-container > * {
  margin-inline-end: 10px;
}
