.meme-container {
  display: none;
  padding: 20px;
  gap: 10px;
}
.meme-container.active {
  display: flex;
  margin: auto;
}
.text-toolbox {
  border: 1px solid var(--clr5);
  padding: 10px;
}

.text-toolbox-form {
  display: grid;
  grid-template-areas: "c p m s" "t t t t";
}
.text-toolbox-form > * {
  margin-block-start: 0.5em;
}
.text-toolbox-form > *[type="button"] {
  background-color: transparent;
  border: none;
  font-family: poiret;
  font-size: 1.5em;
}
.text-toolbox-form > *[type="color"] {
  background-color: none;
}
.text-toolbox-form > *[type="button"]:hover {
  cursor: pointer;
}
.text-toolbox-form .text-size-up {
  grid-area: p;
}
.text-toolbox-form .text-size-down {
  grid-area: m;
}
.text-toolbox-form .text-box {
  grid-area: t;
}
.text-toolbox-form .text-color {
  grid-area: c;
}
